////
/// PX-BUTTON-GROUP-DESIGN
/// Defines simple button groups
/// @group px-button-group-design
////

@import "inuit-responsive-tools/_tools.responsive.scss";
@import "px-helpers-design/_generic.helpers.scss";
$inuit-enable-btn--disabled : true;
@import "px-buttons-design/_objects.buttons.scss";

/// Prepend value for all generated classes
/// @group px-button-group-design:variables:style
/// @type String [default]
$inuit-btn-group-namespace              : $inuit-namespace !default;

/// Font color
/// @group px-button-group-design:variables:style
/// @type Color [default]
$inuit-btn-group-color                  : $white !default;

/// Selected background color
/// @group px-button-group-design:variables:style
/// @type Color [default]
$inuit-btn-group-background             : $select-blue-default !default;

/// Hover background color
/// @group px-button-group-design:variables:style
/// @type Color [default]
$inuit-btn-group-background--hover      : $select-blue-hover !default;

/// Pressed background color
/// @group px-button-group-design:variables:style
/// @type Color [default]
$inuit-btn-group-background--pressed    : $select-blue-pressed !default;

/// Border color
/// @group px-button-group-design:variables:style
/// @type Color [default]
$inuit-btn-group-border-color           : $select-blue-pressed !default;

/// Hover border color
/// @group px-button-group-design:variables:style
/// @type Color [default]
$inuit-btn-group-border-color--hover    : transparent !default;

/// Pressed border color
/// @group px-button-group-design:variables:style
/// @type Color [default]
$inuit-btn-group-border-color--pressed  : transparent !default;

/// Default button group
.#{$inuit-btn-group-namespace}btn-group,
%#{$inuit-btn-group-namespace}btn-group {
  display: flex;
  input {
    @include accessibility;
  }
  .#{$inuit-btn-namespace}btn,
  %#{$inuit-btn-namespace}btn {
    border-radius: 0;
    -webkit-appearance: inherit;
    &:first-of-type {
      border-radius: 3px 0 0 3px;
    }
    &:last-of-type {
      border-radius: 0 3px 3px 0;
    }
    + .#{$inuit-btn-namespace}btn {
      margin-left: 0;
    }
  }
  :checked + {
    .#{$inuit-btn-namespace}btn,
    %#{$inuit-btn-namespace}btn {
      border-color: $inuit-btn-group-border-color;
      box-shadow: $inuit-btn-shadow--light;
      color: $inuit-btn-group-color;
      background: $inuit-btn-group-background;
      &:hover,
      &:focus {
        border-color: $inuit-btn-group-border-color--hover;
        box-shadow: $inuit-btn-shadow;
        color: $inuit-btn-group-color;
        background: $inuit-btn-group-background--hover;
      }
      &:active {
        border-color: $inuit-btn-group-border-color--pressed;
        box-shadow: none;
        color: $inuit-btn-group-color;
        background: $inuit-btn-group-background--pressed;
      }
    }
  }
}
